.divh1 {
    background-color:rosybrown;
    color: aqua;
    text-align: center;
    height: 50px;
    padding: auto;
    width: 50%;
    margin: auto;   
}
.list ul{
    
    
    text-align: center;
    color: aqua;

}

.list ul li{
    background-color: brown;
    margin-bottom: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.list2 .li{
    color: red;
    list-style: none;
    margin: auto;
}
.list2{
    margin: auto;
}

input[type="text"]{
    color: red;
}

.div3{
    
    border: 2px solid aqua;
    height: 700px;
    padding-left: 20px;
    width: 50%;
    margin: auto;
    background-image:url("https://as1.ftcdn.net/v2/jpg/04/35/92/40/1000_F_435924070_A2n5ZyQUF7nCRsYZj6SX1SAYOn5sggFh.jpg") ;
}
.img{
    
    
    border: 2px solid grey;
    background-image: url("https://cdn.prod.website-files.com/5d8a4999eaa8abe6956c8ae5/6030deba4ce734f409613c09_MWVS5789-X3.jpg");
}




